
body {
    background: hotpink;

}
header {
    background: black;
    color: white;
    padding: 2rem;
}
.card-divider {
    background: black;
}
main {
    padding: 2rem;
}

img {
    display: block;
    margin: auto;
}

footer {
    background: black;
    color: white;
    padding: 2rem;
}
nav ul li a {
    color: #01758A;
}

h1 {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 5em;
    color: hotpink;
}

h2, h3, h4 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3em;
}

h2 {
    padding-top: 1em;
}

p {
    font-size: 1.3em;
}

.card {
    background-color: #FBACF7;
    color: black;
}

.progress-meter {
    height: 3em;
}

.top-bar {
    background-color: #FBACF7;
}


/* This code makes the animation spin a full circle 10 times */
@keyframes beans-spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(3600deg);}
}

/* This CSS tells the animation to last for one second, to iterate one time, and to go in the left direction. */
.beans-animation {
    animation-name: beans-spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: left;
}

/***************** Media Queries *************/

/* Media Queries built in Foundation use ems for unit of measurment */


/* Mobile only styles */

/* max-width 640px */
@media only screen and (max-width: 40em) {

    
}

/********************* Medium Screens **************/

/* Min-width 640px */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {


}

/* Large and up screens */

/* min-width 1025px */
@media only screen and (min-width: 64.063em) { 


} 

